:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 95px;
}

.gl-products-list-empty-title {
  color: #3c4043;
  font-size: 1.14em;
  font-weight: 500;
  padding: 8px;
}

.gl-products-list-empty-subtitle {
  margin-top: 20px;
  max-width: 250px;
  font-size: 0.9em;
  color: gray;
}

mat-icon {
  margin: 15px;
}
